html, body {
    height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14pt;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 1px;
	background-color: #000000;
	color: #000000;
	/*Photo by Isai Ramos on Unsplash*/
	background-image: url(../img/angelina-podbolotova-3LjyiqiLXtU-unsplash.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

.container {
    height: 100%;
}

.card {
	width:50%;
	padding:50px;
	text-align: center;
}

.fullname {
	font-weight: 700;
	font-size: 24pt;
}

.position {
	font-weight: 700;
	font-size: 16pt;
	text-transform: uppercase;
}

a, a:focus, a:hover, a:active {
	margin-top:5px;
	text-decoration: none;
	color: inherit;
	outline: none;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

	.fullname {
	font-weight: 700;
	font-size: 18pt;
}

.position {
	font-weight: 700;
	font-size: 14pt;
	text-transform: uppercase;
}
.card {
	width:80%;
	padding:10px;
	text-align: center;
}
}